<% wrap_layout :layout do %>
  <div id="top-row">
  	<div id='content'>
      <% yield %>
      <%= partial "article", :locals => {:post => current_article} %>
      <%= partial "disqus" %>        
  	</div>
  	
    <%= partial "sidebar" %>
  		
  </div>
<% end %>      
		
