//.top-bar-section li a:not(.button){ background: rgba(34,34,34,0.0)};

.top-bar img{
  max-height: 100%;
  margin: 0;
}


// Kludge to deal with transp -- is that background redefinition really required?
 
@media #{$topbar-media-query} {
  .top-bar-section {

    li {
      &:not(.has-form) {
        a:not(.button) {
          background: $topbar-bg-color;
          &:hover { background: $topbar-link-bg-hover; }
        }
      }
//      &.active:not(.has-form) {
//       a:not(.button) {
//          color: $topbar-link-color-active;
//          background: $topbar-link-bg-active;
//          &:hover { background: $topbar-link-bg-active-hover; }
//        }
//      }

    }
  }
}