// Global Foundation Settings
@import "settings";

// Comment out this import if you don't want to use normalize
@import "normalize";

// Comment out this import if you are customizing you imports below
@import "foundation.scss";

// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "foundation/components/global"; // *always required
// @import "foundation/components/grid";
// @import "foundation/components/visibility";
// @import "foundation/components/block-grid";
// @import "foundation/components/type";
// @import "foundation/components/buttons";
// @import "foundation/components/forms"; // *requires components/buttons
// @import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
// @import "foundation/components/button-groups"; // *requires components/buttons
// @import "foundation/components/dropdown-buttons"; // *requires components/buttons
// @import "foundation/components/split-buttons"; // *requires components/buttons
// @import "foundation/components/flex-video";
// @import "foundation/components/section";
// @import "foundation/components/top-bar";  // *requires components/grid
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
// @import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
// @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
// @import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";


$highlightcolor: #4bb6f5;
$hovercolor: $highlightcolor - #333;
$header-font-color: #4bb6f5;

// Compass mixins
@import "compass/css3/transition";
@import "compass/css3/transform";
@import "white-topbar";

@mixin font-smoothing($font-smoothing) { 
  // none | antialiased | subpixel-antialiased
  -webkit-font-smoothing: $font-smoothing;
     -moz-font-smoothing: $font-smoothing;
      -ms-font-smoothing: $font-smoothing;
          font-smoothing: $font-smoothing;
}

p, a, li, h1, h2, h3, h4, h5, h6, cite, blockquote{
  text-rendering: geometricPrecision;
  @include font-smoothing(antialiased);
}

figcaption{
	text-align: right;
	margin-top: -1em;
}

img{
	margin-top: 1em;
	margin-bottom: 1em;
}

.box.img-left{
	max-width: 30%;
	float: left;
	margin-right: 1em;
	margin-top: 0;
	margin-bottom: 0;
}

.box.img-right{
	max-width: 30%;
	float: right;
	margin-right: 0;
	margin-left: 1em;
	margin-top: 0;
	margin-bottom: 0;
}

.box{
	position: relative;
	overflow: hidden;
	margin-top: 1em;
	margin-bottom: 1em;
	img{
		@include transition(ease-out 300ms);
		position: relative;
		margin-bottom: 0;
		margin-top: 0;
	}
}

.box .caption{
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	color: #fff;
	z-index: 100;
	@include transition(ease-out 300ms);
	left: 0;
	p{
		margin-bottom: 0;
	}
}

.box .fade-caption{
	height: 30px;
	width: 100%;
	display: block;
	bottom: -30px;
	line-height: 25pt;
	text-align: center;
}

.box:hover .fade-caption{	
	@include translate(0, -100%);
}


a{
	color: $highlightcolor;
	&:hover{
		color: $highlightcolor - #222;
	}
	@include transition(color .5s);
}

.orbit-caption a{
	color: #999999;
	&:hover{
		color: $highlightcolor;
	}
	@include transition(color .5s);
}

blockquote cite{
/* 	font-size: ms(2); */
}

.pagination{
	margin-bottom: 2em;
	a{
		font-size: 1em;
		margin-right: 2em;
	}
}


#top-row{
	@include grid-row(nest);
	margin-top: 6em;
}

#header{
	@include grid-column(12,$collapse: true);
	background-color: rgba(255,255,255, 0.6);
	position: fixed;
	z-index: 999;
	h1, h2, h3, h4, h5, h6{
		display: inline;
	}
	h1{
		color: $highlightcolor;
	}
	img{
		margin-top: 0;
		margin-bottom: 0;
	}
	fieldset{
		margin: 0;
		padding: 0;
		display: inline-block;
		border-style: none;
		vertical-align: middle;
	}
	form{
		display: inline;
		vertical-align: middle;
	}
	input{
		display: inline;
		vertical-align: middle;
		background: rgba(255, 255, 255, 0)
	}
}


#footer{
  @include grid-row(nest);
	margin-top: 2em;
	padding-top: 2em;
	padding-bottom: 2em;
	border-top: 1px dashed #ddd;
	p{
		font-family: $header-font-family;
	}
}

#email{
	@include grid-column(12,collapse);
	text-align: center;
}

#phone{
	@include grid-column(12,collapse);
	text-align: center;
}

#addr{
	@include grid-column(12,collapse);
	text-align: center;
}

@media screen and (min-width: 700px){
  #email{
    @include grid-column(4,collapse);
    text-align: left;
  }
  #phone{
    @include grid-column(4,collapse);
  }
  #addr{
    @include grid-column(4,collapse);
    text-align: right;
  }
}

//#nav-block{
//	display: inline-block;
//	padding-left: 2em;
//	margin-top: 2.5em;
//	vertical-align: top;
//	//float: right;
//}


#nav-block{
	display: inline-block;
	padding-left: 2em;
	vertical-align: middle;
	//float: right;
}

.top-bar{
  li.name h1 a{
    font-size: 1.5em;
    color: $header-font-color;
  }
	li{
		font-family: $header-font-family;
		a{
			&:hover{
			}	
		}
	}
}

#nav{
	display: inline-block;
	a, ul, li{
		display: inline;
	}
	li{
		font-size: 1em;
		padding-left: 1em;
		text-transform: uppercase;
		a{
			color: $header-font-color;
			&:hover{
					color: $highlightcolor;
					//text-decoration: underline;
			}	
		}
	}
}


.products-wrapper{
  @include grid-column(12);
  margin-top: 8em;
  h6{
    text-align: center;
  }
  fieldset{
    legend{
      font-family: $header-font-family;
      font-weight: $header-font-weight;
  		font-size: 1em;
  		span{
    		font-weight: $header-font-weight;
    		font-size: .7em;
  		}
    }
  }
}

.products-inside{
  @include block-grid($per-row: 1, $spacing: 0);
  form{
    margin:0;
  }
  fieldset{
    margin: 0;
    h6{height: 2em;}
  }
  img{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 700px){
  .products-inside{
    @include block-grid($per-row: 3, $spacing: 0);
  }
}

.product-desc{
  @include panel;
  height: 10em;
}

.cart_item{
  @include grid-row($behavior: nest);
}

.cart_picture{
  @include grid-column(4);
}

.cart_desc{
  @include grid-column(4);
}

.cart_price{
  @include grid-column(2);
}

.cart_control{
  @include grid-column(2);
}

.cart_quantity{
  @include grid-column($columns: 8);
}

.cart_remove{
  //@include prefix-postfix-base;
  //@include postfix($is-button: true);
  @include grid-column($columns: 4);
}

#container{
	//@include push(4);
	@include grid-row();
	padding-left: 1em;
	padding-right: 1em;
	p, blockquote{
/* 		font-size: ms(1); */
	}
	p.ms-zero{
/* 		font-size: ms(0); */
	}
	p.ms-one{
/* 		font-size: ms(1); */
	}
	p.ms-two{
/* 		font-size: ms(2); */
	}
	cite {
	  font-weight: $body-font-weight;
/* 		font-size: ms(2); */
	}
	li {
/* 		font-size: ms(1) */
	}
}

#content{
  @include grid-column(12);
	ul{
		font-size: 1em;
		font-weight: $body-font-weight;
		color: $body-font-color;
		list-style: square outside; color: $body-font-color;
		list-style-image: url(/images/bul.png);
		margin-left: 1em;
//		margin-bottom: 1em;
	}
	li{
		font-size: inherit;
		margin-bottom: 1em;
	}
	blockquote p{
		font-size:1.6em;
		font-style: italic;
	}
}

#sidebar{
	//@include pull(8);
	@include grid-column(12);
	img{
		margin-top: 0.3em;
		margin-bottom: 1em;
	}
	img{
		//margin-top: 0.3em;
		//margin-bottom: 1em;
	}
	p{
		font-weight: 400;
		font-size: 0.8em;
	}
	h3{
		font-size: 1em;
		color: $header-font-color;
		margin-bottom: 1em;
	}
	ul{
		list-style: none;
		list-style-type: none;
	}
	li{
		font-size: 1em;
	}
	.twtr-tweet-wrap, .twtr-hd{
		padding: 0;
	}
	.twtr-hd{
		margin-bottom: 1em;
	}
	.twtr-tweet{
		margin-bottom: 1em;
		border-bottom-width: 0;
	}
	em{
		font-size: ms(0);
	}
	#twtr-widget-1 a{
		color: $highlightcolor !important;
		&:hover{
				color: $hovercolor !important;
				text-decoration: none !important;
		}	
	}
}

@media screen and (min-width: 700px){
  #content{
  	@include grid-column(8);
  }
  #sidebar{
  	@include grid-column(3, $offset: 1);
  }
}


#bott-row{
	@include grid-row(nest);
}

#bott-1{
	@include grid-column(12);
}

#bott-2{
	@include grid-column(12);
}

#bott-3{
	@include grid-column(12);
}

@media screen and (min-width: 700px){
  #bott-1{
    @include grid-column(4);
  }
  #bott-2{
    @include grid-column(4);
  }
  #bott-3{
    @include grid-column(4);
  }
}


#archive{
	ul{
		list-style: none;
		list-style-type: none;
	}
	li{
/* 		font-size: ms(1); */
	}
}

#featured{
  img{
    padding: 0;
    margin: 0;
  }
}

.folio-grid{
  @include block-grid($per-row: 2);
  @media screen and (min-width: 700px){
      @include block-grid($per-row: 3);
  }
}

.nivoslider a{
	border: 0px;
	display: block;
}

.slider-wrapper.theme-light{
	padding: 0 !important;
	margin: 0 !important;
	img{
		padding: 0 !important;
		margin: 0 !important;
	}
}

.theme-light .nivo-caption{
	background: rgba(0,0,0,0.3) !important;
	font-family: $header-font-family !important;
}
