---
layout: post
title: Summer Project Update
comments: true
tags:
- General Photography
- Printing
---
{% img  /images/2012/09/DSCF4507.jpg %}

A quick update on what I will ultimately refer to as *the summer I was chained to an Epson 9900*. The project is actually being installed. Dozens of very large prints. A dozen wall sized murals - all custom shot. A gaggle of custom made pieces including face mounted plexi, custom curved LED light boxes, etc, etc. I cannot wait to take a break from this and get to some of my personal projects.

In any case here is a real quick timelapse video I slammed together showing just one facet of one room of one mural. The real life room has 3 **huge** columns that are covered with pieces of the same scene that adds a ton of dimension when you are *inside* it all… 

<iframe src="http://player.vimeo.com/video/49613056" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> <p><a href="http://vimeo.com/49613056">Wallpaper</a> from <a href="http://vimeo.com/user8615735">Robert Boyer</a> on <a href="http://vimeo.com">Vimeo</a>.</p>

RB
