---
layout: post
title: Contact Sheet Experiment - Installment III
comments: true
categories:
- general photography
- fujifilm
- X100S
- Nikon D600
- 50mm
- contact sheet
---
{% img /images/2013/10/DSCF9473.jpg %}

I really don't want too much time go by for this little contact sheet sharing experiment. I don't want too much thought creeping into attempting to curate the *final* project output otherwise it's not really contact sheet like… especially on a longer term project. I struggled a bit with this one as to whether or not to include some images or not. Ultimately I included most but left out a few that were a bit too gratuitous that I would not have shot or would never use for the project. I did leave in all of my screw-ups for sure.

<!--more-->

Moving on. A few followers of the contact sheet experiment thought it would be a bit more informational if I explained the project - so I did that to a small degree [in this post](http://photo.rwboyer.com/2013/10/17/friday-thoughts-projects-etc/) in the middle of a bunch of other random thoughts of the day. I will paraphrase that again here… 

In as few as words as possible here’s what the project I decided to share the evolution with all of you is about: The female relationship to the architecture, paraphernalia, process, clothing, etc of beauty and being female in our society. It’s something that has intrigued me for more than a decade. I have hundreds of outtake images that I shot on-the-fly at random in just about every context imaginable that intrigued and interested me at the time. Some shot on film some shot on digital, some shot on polaroid with no intent or mission or concept. Most of them would not fit together in this project due to so much other context included but I became aware of the concept as a project when just fooling around with my original Fuji X100 very early this year and looking at the similarity of random snaps I was making and how similar they were to the random collection of out-takes I made over years.

Okay with that out of the way a few other people wanted a bit more context in which I was shooting on any particular contact sheet for this project. Here goes…

- I had planned on shooting three different subjects during my trip last week. Rained out - cancelled two of them. I knew I would have the opportunity to make some pictures with Anastasia and I did but I had no wardrobe to speak of that would fit so I rummaged around boxes and found three bottoms that *might* fit. I also brought a bunch of raw materials to make a top. The plan was to shoot outdoors nearby - that didn't work out - down pour.
- This contact sheet and the next one were shot on the fly while testing out wardrobe, fixing, hair, and having a discussion debate on the matter of a top and if the bottoms fit or not…
- For this one - I wanted the hard looking bottoms paired with something soft on the top - I was thinking something furry-ish. This is what Anastasia had chosen - ummm okay right.
- Most of the conversation was me selling the idea we should all make a top out of the raw materials I brought for more of a Kate Upton in Vogue Italia last November kind of look. That's what I was going to shoot **if** we were outside.
- These are a mix of complete candids and a few more "setup" shots that I used to show Anastasia what was looking like what. I mentioned that for this project I either shoot it just hanging around for a long time or in the context of "on the way towards shooting something else" - this is the latter. We ended up moving on and trying some of the other bottoms and did not shoot this in a different context. I only had about 4 feet in any direction from where this was shot as the loft was piled with crap and boxes as Carly was also in the process of moving out.

Okay I hope that answers some process and context questions. As usual I really don't know what images from this contact sheet I will end up using if any but they are in the pile of raw material. As usual if you would like to subscribe to the iCloud photostreams [shoot me an email](mailto:rwboyer@mac.com) your iCloud associated email address. Otherwise here is the public web version of this installment…

###[Contact Sheet No. 3](https://www.icloud.com/photostream/#A3JqstnBJRxy4q)

One of the strange quirks I have with project stuff like this is also one of the ways I evaluate and take in all the raw material after I shoot it. I always make a quick and dirty slide show using one of the automatic Aperture 3 themes and chuck in the first piece of music that comes to mind. This one is auto ken-burns-ed and auto cropped to 16:9 so the crops are way way off but I do this mostly to attempt to take in the whole thing really quick and get a feel for how the set plays against each other prior to actually doing any sort of edit or messing with juxtapositions which will be critical for the final state of this project. Here's the really crappy video version that I did for my own strange little process…

<iframe src="//player.vimeo.com/video/77440482" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/77440482">Mirror Lace SS BTS</a> from <a href="http://vimeo.com/user8615735">Robert Boyer</a> on <a href="https://vimeo.com">Vimeo</a>.</p>

In case you missed it [here is the last contact sheet installment](http://photo.rwboyer.com/2013/10/20/project-contact-sheet-ii/) for this project.

Comments welcome.

RB

Ps. You can clearly see when I was shooting my D600 vs my little X100S - not from the optics, angle of view, etc but more from the fact the little Fuji gives you one shot of any particular moment and the D600 lets you blast out quite a few. Not good not bad but you do have to use them a bit differently.

