---
layout: post
title: The Making Of A Photograph - Process
comments: true
tags:
- general photography
- fuji x100
- fujifilm
---
{% img /images/2013/05/ap3-x100-3200-mag.jpg %}

That series of posts I started a short while ago regarding thought process etc. on making a particular picture - good bad or indifferent - has generated a few interesting conversations so I figured I would continue it with a slight twist today. Instead of one image it will be a whole bunch of them. Partially just for the hell of it and partially to consolidate a few points of conversation I have had sparked by a few of those other *the making of posts*. It's only natural to be curious of other photographers working method and process. I certainly am intrigued when I get a glimpse into other photographer's processes. That's part of the drive behind my contact sheet fetishism.

<!--more-->

The image at the top has nothing to do with the rest of the photos I am going to share today with the exception that I shot it on the same day and it happens to be a worst case example of the "IQ" produced by the [Fuji X100](http://www.amazon.com/gp/product/B00ATM1MVA/ref=as_li_ss_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B00ATM1MVA&linkCode=as2&tag=rbde-20) - the old one at that. Why worst case? Well my chosen presentation format for this *contact sheet* of sorts today happens to be a video hosted on Vimeo and I wanted to level set the actual IQ of the RAW files so that anyone that cares to can just take the video for what it is and not associate it's rendering of still image quality representative of the X100's output. I say worst case because the shot at the top was @ ISO 3200 **and** boosted another whole stop in post (damn "intelligent" metering) which is way worse than actually shooting it at 6400.

Okay disclaimers aside, on with the show. This particular session I did with the X100 was exploratory in nature, playing with using it as well as a 35mm focal length in particular ways. I shot it in a similar style with how I planned to use it on an ongoing personal project - exclusively. I wanted to play with how the various imaging characteristics of this combo *felt* when using it in various ways. Could I make it feel intimate, could I make it feel distant, was I capable of using just that 35mm perspective both horizontal and vertical orientation while dealing with background elements that weren't carefully arranged? These among a bunch of other operational questions were the things I was trying to work out…

Now for the context - maybe interesting to a few of you. Definitely of interest to the one person that asked. How fast to I work, how many shots do I take, things like that. In this case the entire session represented by the following video contact sheet was shot between about 11am to 2pm. So three hours. That's not the whole story though. This was a side endeavor. During that time here's what else I was doing in those three hours… 

- Drank a bunch of coffee and a bunch of smoke breaks.
- I shot a response to the [LaRoque challenge](http://photo.rwboyer.com/2013/03/04/laroque-challenge-winter-2013-edition/).
- Shot 4 different setups for my [simulating sunlight eBook](http://store.rwboyer.com)
- Also re-shot a few things quickly for the window light eBook
- Shot two setups of something completely different that I haven't discussed and have nothing to do with this blog or the eBooks.

So three hours 10 sets, 8 wardrobe changes, 2 hair and makeup changes, coffee and a bunch of cigarettes not including any of these shots which were "in between" that other stuff. This might give you the impression that I am an insane task master that works everyone in front of my camera to death. Not the case in the least. I probably shoot far far less frames than most people do. I mostly talk about shit that has nothing to do with the picture taking matter at hand. I swear I spent more time chugging coffee and chit chatting then I did behind my DSLR.

Now how many images is that? I really don't know total - I could count but what does that matter. The video represents exactly half of the total images I shot with the X100 out of all of them I shot in that particular limited physical space. I made about 30 or 40 additional images before this and after this segment but didn't feel they were quite right to include here for a bunch of quirky reasons.

I processed all of these exactly the same. Aperture 3 with one VSCO preset. Specifically film 02 Superia 1600+ with the grain overlay (yea I have it now - got it for practically free). Part of my look and feel experiments. I figured the video re-re-re-re-encoding was so dirty why not use the dirtiest starting point. In terms of shooting I used a random mix of aperture priority auto and manual exposure. I used ISO settings that were either 400 or 1600. I didn't need to use for light levels that were all over the map. I choose them specifically to get either high shutter speeds or very low shutter speeds. Same reason I choose either f2 or f4 for apertures. The images with no motion blur are higher shutter speeds. The images that have apparent motion blur are low - specifically a little bit of motion blur was about 1/20 a whole lot of motion blur was 1/10.

A fairly narrow range of stuff here but chosen for specific effect. Same goes for the aperture to a little lesser degree. The mix of f4 and f2 was primarily shutter speed driven but when combined with the switch to either 400 or 1600 ISO for shutter speed that I wanted it also gave me that halation or lack there of that the little fuji does so beautifully. 

That's the tech of it. The more interesting part to me was two things that the video contact sheet demonstrates far better than words - a narrow but specific choice of view points is the first. I shot at one of 4 points of view. The first being one I **never** use which is slightly above subject eye level. About 6 to 8 inches. I also shot exactly at eye level for a few. The other two points of view are my normal modus operandi - slightly below eye level - about 5-6 inches or slightly below waist level. The differences should be night and day between all of these 4 viewpoints. The second thing I did was to play with the background composition in a non-prepared, fixed and very limited space. A factor that plays in that long term personal project. I wanted to see if I could do anything remotely interesting with circumstance and surroundings that were somewhat out of my control for locations I had in mind. I also wanted to see if "micro backgrounds" played with the 35mm perspective the same way they did with my normal 50mm preference for this type of thing.

Knowing where my head was should provide enough context for you to check out what I was going for here. Without further delay here's exactly half of the images - a video contact sheet. Warning - PG-13 NSFW.

<iframe src="http://player.vimeo.com/video/66480506" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> <p><a href="http://vimeo.com/66480506">BTS</a> from <a href="http://vimeo.com/user8615735">Robert Boyer</a> on <a href="http://vimeo.com">Vimeo</a>.</p>

I don't really do the whole online gallery thing. I am kind of unsure how I want to do presentation of some of my personal projects so this is also an experiment. I know I will produce hard prints as one form of output. As for online… I am experimenting with video as well as PDF. Maybe the PDF next time. If you have a preference or ideas for online delivery of stuff like this speak up even if it's just a feel or a perception or something you would like… 

The issue I have with video right now when presenting stills is this… The video rendition inside Aperture is pristine. The output rendered in H264 at "best" quality is pretty good. Unfortunately it's also 2.4 gigs for 3 minutes. At "good" quality it's meh IQ. After Vimeo gets ahold of it, it's friggin horrible - for stills.

Hopefully you find this look inside of another's process interesting or at least amusing.

RB