<div id='sidebar'>
	<%= partial "recent_posts" %>
  <%= partial "twitter" %>
  <%= partial "featured" %>
  <script type="text/javascript">
  	$(document).ready(function() {
			$( "#sidebar-recent" ).load( "/recent-posts/index.html" );
	});
	</script>
</div>
