<div class="fixed">
	
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1><a href="#">RB|Design</a></h1>
      </li>
      <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>
  
    <section class="top-bar-section">
      <!-- Left Nav Section -->
      <ul class="left">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="http://store.rwboyer.com/">eBooks</a></li>
        <li><a href="/archives/">Archive</a></li>
        <li><a href="/atom.xml">RSS</a></li>
      </ul>
      <!-- Right Nav Section -->
      <ul class="right">
        <li><a href="/search/">Search Site</a></li>
      </ul>
    </section>
  </nav>

</div>
