---
layout: page
title: Search RB Design
---

<% blog_year = "" %>
<% blog_month = "" %>

<div id="search">
  <script>
    (function() {
      var cx = '014956587261306226031:cee6mkrvxi4';
      var gcse = document.createElement('script');
      gcse.type = 'text/javascript';
      gcse.async = true;
      gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(gcse, s);
    })();
  </script>
  <gcse:search></gcse:search>
</div>